@charset "UTF-8";

.title {margin: 45px 0 20px; font-size: 38px; font-family: 'SpoqaB';}
.text {font-size: 16px; font-family: 'SpoqaR';}
.img-cont {margin:60px auto 0;}
.img-cont img {display: block; margin: 0 auto;}
@media screen and (max-width: 960px) {
  .title {margin: 38px 0 14px; font-size: 16px;}
}
