@charset "UTF-8";

.desc-text {font-size:16px;}
.table-title {font-size:20px; font-family:"SpoqaB"; text-align:center; margin-top:60px;}
.table-guide {font-size:18px; margin:10px 0; text-align:right;}
@media screen and (max-width: 960px) {	
	.table-guide {font-size:16px;}
	.table-title {font-size:18px;}
}
