@charset "UTF-8";

/********************************
* 예적금 탭: 공통
*********************************/
br.notMobile {
  display:block;
}

@media screen and (max-width: 960px) {
  br.notMobile {
    display:none;
    line-height: 18px;
  }
}





/********************************
* 예적금 탭: 습관저금
*********************************/
.saving-habit .visual{
  background: url(/images/product/saving/saving-habitsaving/img_habit_saving1.png) no-repeat right 110px bottom 48px;
  background-size: 400px 370px;
}

.step-list-guide {
  position: relative;
  margin-left: 5px;
}

.step-list-guide.unordered-list:before {
  position: absolute;
  height: calc(100% - 47px);
  content: "";
  border-left: 1px dashed #8848ff;
  top: 9px;
  left: 0px;
  bottom: 38px;
}

.step-list-guide li {
  position: relative;
  margin-top: 40px;
  padding-left: 20px;
  font-size: 20px;
  word-break: keep-all;
}

.step-list-guide.list-item:before {
  z-index: 5;
  top: 7px;
  background: #8848ff;
  width: 12px;
  height: 12px;
  left: -11px;
  display: inline-block;
  content: "";
  position: absolute;
  border-radius: 50%;
}

.step-list-guide.list-item:after {
  z-index: 10;
  top: 10px;
  background: #fff;
  width: 6px;
  height: 6px;
  left: -8px;
  display: inline-block;
  content: "";
  position: absolute;
  border-radius: 50%;
}

.step-list-guide li:after {
  z-index: 10;
  top: 10px;
  background: #fff;
  width: 6px;
  height: 6px;
  left: -4px;
}

@media screen and (max-width: 960px) {
  .saving-habit .visual {
    background: url(/images/product/saving/saving-habitsaving/img_habit_saving1.png) no-repeat right 20px top 95px; background-size: 300px 278px;}

  .step-list-guide {
    position: relative;
    margin-left: 16px;
  }

  .step-list-guide li {
    font-size: 16px;
    text-align: left;
    padding-left: 5px;
  }

  .step-list-guide.list-item:before {
    z-index: 5;
    top: 7px;
    background: #8848ff;
    width: 12px;
    height: 12px;
    left: -22px;
    display: inline-block;
    content: "";
    position: absolute;
    border-radius: 50%;
  }

  .step-list-guide.list-item:after {
    z-index: 10;
    top: 10px;
    background: #fff;
    width: 6px;
    height: 6px;
    left: -19px;
    display: inline-block;
    content: "";
    position: absolute;
    border-radius: 50%;
  }

  .img-info {
    float: none;
    margin: 20px 0 0 0;
    text-align: center;
    padding: 0 6px;
  }

}





/********************************
* 예적금 탭: T핀크적금
*********************************/
.saving-tfinnq .visual{
  background: url(/images/product/saving/saving-tfinnqinstallmentsavings/bg_finnq_savings.png) no-repeat right 110px bottom 48px;
  background-size: 400px 370px;
}

@media screen and (max-width: 960px) {
  .saving-tfinnq .visual {
    background: url(/images/product/saving/saving-tfinnqinstallmentsavings/bg_finnq_savings.png) no-repeat right 20px top 95px; background-size: 300px 278px;}
}




/********************************
* 예적금 탭: KDB X T high5 적금
*********************************/
.saving-kdb .visual{
  background: url(/images/product/saving/saving-kdbxthigh5installmentsavning/bg_finnq_t5kdbsavings.png) no-repeat right 110px bottom 48px;
  background-size: 400px 370px;
}

.bgImageT{
  display: table-cell;
  padding-left: 169px;
  height: 150px;
  vertical-align: middle;
  background: url(/images/product/saving/saving-kdbxthigh5installmentsavning/bg_finnq_t5ico_01.png) no-repeat 0 0;
  background-size: 150px 150px;
}

.bgImageV{
  display: table-cell;
  padding-left: 169px;
  height: 150px;
  vertical-align: middle;
  background: url(/images/product/saving/saving-kdbxthigh5installmentsavning/bg_finnq_t5ico_04.png) no-repeat 0 0;
  background-size: 150px 150px;
}

@media screen and (max-width: 960px) {
  .saving-kdb .visual {
    background: url(/images/product/saving/saving-kdbxthigh5installmentsavning/bg_finnq_t5kdbsavings.png) no-repeat right 20px top 95px; background-size: 300px 278px;}

  .bgImageT{
    display: table-cell;
    padding-left: 169px;
    height: 150px;
    vertical-align: middle;
    background: url(/images/product/saving/saving-kdbxthigh5installmentsavning/bg_finnq_t5ico_01.png) no-repeat 0 0;
    background-size: auto 90px;
  }

  .bgImageV{
    display: table-cell;
    padding-left: 169px;
    height: 150px;
    vertical-align: middle;
    background: url(/images/product/saving/saving-kdbxthigh5installmentsavning/bg_finnq_t5ico_04.png) no-repeat 0 0;
    background-size: auto 90px;
  }

}





/********************************
* 예적금 탭: T이득통장
*********************************/
.saving-tprofit .visual{
  background: url(/images/product/saving/saving-tprofitpassbook/img_finnq_pla1.png) no-repeat right 110px bottom 48px;
  background-size: 400px 370px;
}

@media screen and (max-width: 960px) {
  .saving-tprofit .visual {
    background: url(/images/product/saving/saving-tprofitpassbook/img_finnq_pla1.png) no-repeat right 20px top 95px; background-size: 300px 278px;}

}




