@charset "UTF-8";

/********************************
* 보험
*********************************/
.insurance .visual {box-sizing:border-box; padding:40px; background: url(/images/product/insurance/bg_insurance.png) no-repeat right 145px bottom 48px; background-size: 400px 370px;}
  
.insurance .insurance-list {padding-top:120px;}

@media screen and (max-width: 960px) {
  .insurance .visual {background: url(/images/product/insurance/bg_insurance.png) no-repeat right 20px top 65px;
    background-size: 300px 278px;}
  .insurance .insurance-list {padding-top:160px}  
}
