@charset 'UTF-8';

/***************************************************
* 2) Element (Btn, Table, Tab 등)
****************************************************/

/**************************************************
* 탭 : li의 자식요소는 버튼, a 등 상황에 맞게 사용 가능 
***************************************************/
.tab-wrap {margin-top:40px;}
.tab-wrap ul {position: relative; max-width: 1280px; margin: 0 auto; padding:0 40px; z-index: 1; height:59px; border-bottom: 1px solid #c8c8c8;}
.tab-wrap ul:before, 
.tab-wrap ul:after {position: absolute; bottom: -1px; display: inline-block; width: 40px; height: 1px; background: #fff; content: "";}
.tab-wrap ul:before {left: 0;}
.tab-wrap ul:after {right: 0;}
.tab-wrap li {float: left; width: 20%;}
.tab-wrap.col3 li {width:25%;}
.tab-wrap li > * {display:block; width:100%; box-sizing:border-box; background-color:#f8f8f8; height: 58px; border: 1px solid #c8c8c8; border-right: 0; border-bottom: 0; font-family: 'SpoqaR'; font-size: 16px; line-height: 56px; color: #666; text-align: center;}
.tab-wrap li:last-child > * {border-right: 1px solid #c8c8c8;}
.tab-wrap li.is-active > * {background-color:#fff; height: 59px; border: 2px solid #731aed; border-bottom: 0; font-family: 'SpoqaB'; color: #731aed;}
.tab-wra li.is-active + li > * {border-left: 0;}

@media screen and (max-width: 960px) {
  .tab-wrap ul {display: table; table-layout: fixed; width: 100%; height: auto; padding-left: 20px; padding-right: 20px; border-bottom: 0;}  
  .tab-wrap li {display:block; position: relative; float:left; margin-top: -1px; margin-right: -1px; width: 50% !important;}
  .tab-wrap li:nth-child(even) {border-right: 1px solid #c8c8c8;}
  .tab-wrap li > * {height: 46px; border-bottom: 1px solid #c8c8c8; font-size: 14px; line-height: 42px;}
  .tab-wrap li.is-active > * {height: 46px; border: 2px solid #731aed; font-family: 'SpoqaB';}
  .tab-wrap li.is-active:after {@include common__after; width:100%; height:100%; @include position($t:0, $l:0); box-sizing: border-box; border: 2px solid #731aed; z-index: 2;}
  .tab-wrap li:last-of-type > * {border-right:0;}
  
  // 하나 비전 탭
  .tab-wrap.table-type li {display: table-cell; float: none; vertical-align: middle;}
  .tab-wrap.table-type li:nth-child(even) {border-right:0;}
  .tab-wrap.table-type li.is-active + li > * {border-left: 0;}
  .tab-wrap.table-type li > * {background:#fff;}
  .tab-wrap.table-type li:last-of-type > * {border-right: 1px solid #c8c8c8;}
}

/**************************************************
* 버튼 : Google, Apple
***************************************************/
.app-down {position: relative; top: 0; left: 0; width: 48.388%; margin-top: 30px;}
.app-down .btn {display: inline-block; height: 50px; line-height: 46px; width: calc(50% - 12px); border: solid 1px #c8c8c8; font-size: 16px; text-align:center; border-radius: 4px; font-family: 'SpoqaB';}
.app-down .btn + .btn {margin-left:20px;}
.app-down .btn span {display: inline-block; height: 100%; padding: 0 0 0 25px; font-family: 'SpoqaB'; letter-spacing: 0;}
.app-down .btn-apple span {color:#222; background: url(/images/common/ico_apple.png) no-repeat 0 50%; background-size: 19px;}
.app-down .btn-google span {color:#666; letter-spacing:-1px; background: url(/images/common/ico_google.png) no-repeat 0 50%; background-size: 19px;}
@media screen and (max-width: 960px) {
  .app-down {display:none;}
}

/**************************************************
* 리스트 타입 
* 공통 : list-type
* Custom : mark (※), dash(-)
* ex ) <ul class="list-type mark">
***************************************************/
// 별도 article이 아닌 설명 하단에 추가 되는 경우
.item-desc + .list-type {margin-top:80px;}

.list-type li {position: relative; font-size: 16px; line-height: 24px; color: #666; font-family: 'SpoqaR';}
.list-type.mark li {padding-left:20px;}
.list-type.mark li:before {@include common__after($l:0, $t:0px); content:"※";}

@media screen and (max-width: 960px) {
  .list-type li {font-size: 14px; line-height: 18px;}
}

/**************************************************
* 정의 목록 : card, 보험 맞춤 추천 등
***************************************************/
.definition-list {position: relative; width: calc(50% - 40px);}
.definition-list dt {padding-bottom: 18px; margin-bottom:18px; border-bottom: 1px solid #e0e0e0;font-size: 20px;line-height: 24px;letter-spacing: -1px;color: #222;font-family: 'SpoqaB';}
.definition-list dd {margin-right: 4.5%; font-size: 20px; line-height: 24px; letter-spacing: -1px; color: #666; font-family: 'SpoqaR'; word-break: keep-all;}

@media screen and (max-width: 960px) {
  .definition-list {width:100%;}
  .definition-list dt,
  .definition-list dd {font-size:14px; line-height:18px;}
  .definition-list dd {margin-right:0;}
}

/**************************************************
* 공지성 알림(약관, 운용공시 등)
***************************************************/
.notice-wrap {margin-top:40px}
.notice-wrap .title {font-family: 'SpoqaB'; font-size: 20px; color: #444;}
.notice-wrap .index > p {font-family: 'SpoqaR'; font-size: 18px; color: #222; padding-top: 30px; line-height: 1.5;}
.notice-wrap .index dl {padding: 20px 0 0;}
.notice-wrap .index dl dt {padding-top: 10px; line-height: 1.5; font-weight: bold;}
.notice-wrap .index dl dd {padding-top: 5px; font-family: 'SpoqaR'; font-size: 14px; line-height: 1.5; color: #666;}
.notice-wrap .index dl dd:first-of-type {padding-top: 10px;}
.notice-wrap .sub-title {padding-top: 35px; font-family: 'SpoqaB'; font-size: 16px; color: #278df5; line-height: 1.3;}
.notice-wrap .sub-text {padding-top: 30px; font-family: 'SpoqaB'; font-size: 16px; color: #666; line-height: 1.3;}
.notice-wrap p {padding-top: 15px; font-family: 'SpoqaR'; font-size: 14px; line-height: 1.71; color: #666;}
.notice-wrap li {font-family: 'SpoqaR'; font-size: 14px; line-height: 1.71; color: #666;}
.notice-wrap .depth01 > li {padding-top: 10px;}
@media screen and (max-width: 960px) {
  .notice-wrap {min-height: 350px;min-height: 350px;}
  .notice-wrap .title {font-family: 'SpoqaR'; font-size:18px;}
}

/**************************************************
* Select 
***************************************************/
// 셀렉트 영역 불러오은 곳

.select-group {text-align:right;}
.select-group .select-design {display:inline-block; position:relative; width: 242px; height: 46px; border: 1px solid #e0e0e0; border-radius:4px; z-index:5; background-color: #fff; color:#999;}
.select-group .select-design:after {display:block; content: ''; position: absolute; right: 21px; top:16px; width:9px; height:9px; border-right:2px solid #222; border-bottom:2px solid #222; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg);}
.select-group.is-active .select-design:after {top: 15px; -webkit-transform: rotate(225deg); -ms-transform: rotate(225deg); transform: rotate(225deg);}
.select-group .select-button {display:block; height:100%; font-family: 'SpoqaR'; font-size: 16px; color: #999; text-align: left; padding: 0 60px 0 20px; line-height: 45px; box-sizing:border-box;}
.select-group.is-active .select-button {background-color:#eee;}
.select-group .select-list {display:none; position: absolute; top:45px; left: -1px; right: -1px; background: #fff; border: 1px solid #e0e0e0;}
.select-group .select-list:after {content: ''; display: block; clear: both;}
.select-group .select-list li {position: relative; width: 100%;}
.select-group .select-list li > * {display: block; }


@media screen and (max-width:960px) {
	.select-group {width: 220px; height: 40px; top:-10px; right:20px}	
  .select-group .select-list {top:39px;}
  .select-group .select-list li > * {font-size: 14px; padding: 0 12px; height: 40px; line-height: 38px;}  
}




