@charset 'UTF-8';

/***************************************************
* 2) Element (Btn, Table, Tab 등)
****************************************************/

/**************************************************
* 탭 : li의 자식요소는 버튼, a 등 상황에 맞게 사용 가능 
***************************************************/
.tab-wrap ul {position: relative; max-width: 1280px; margin: 0 auto; padding:0 40px; z-index: 1; height:59px; border-bottom: 1px solid #c8c8c8;}
.tab-wrap ul:before, 
.tab-wrap ul:after {position: absolute; bottom: -1px; display: inline-block; width: 40px; height: 1px; background: #fff; content: "";}
.tab-wrap ul:before {left: 0;}
.tab-wrap ul:after {right: 0;}
.tab-wrap li {float: left; width: 20%;}
.tab-wrap li > * {display:block; width:100%; box-sizing:border-box; background-color:#f8f8f8; height: 58px; border: 1px solid #c8c8c8; border-right: 0; border-bottom: 0; font-family: 'SpoqaR'; font-size: 16px; line-height: 56px; color: #666; text-align: center;}
.tab-wrap li.is-active > * {background-color:#fff; height: 59px; border: 2px solid #731aed; border-bottom: 0; font-family: 'SpoqaB'; color: #731aed;}
.tab-wrap li:last-child > * {border-right: 1px solid #c8c8c8;}

@media screen and (max-width: 960px) {
  .tab-wrap ul {display: table; table-layout: fixed; width: 100%; height: auto; padding-left: 20px; padding-right: 20px; border-bottom: 0;}  
  .tab-wrap li {display:block; position: relative; float:left; margin-top: -1px; margin-right: -1px; width: 50% !important;}
  .tab-wrap li:nth-child(even) {border-right: 1px solid #c8c8c8;}
  .tab-wrap li > * {height: 46px; border-bottom: 1px solid #c8c8c8; font-size: 14px; line-height: 42px;}
  .tab-wrap li.is-active > * {height: 46px; border: 2px solid #731aed; font-family: 'SpoqaB';}
  .tab-wrap li.is-active:after {@include common__after; width:100%; height:100%; @include position($t:0, $l:0); box-sizing: border-box; border: 2px solid #731aed; z-index: 2;}
  .tab-wrap li:last-child > * {border-right:0;}
}

/**************************************************
* 버튼 : Google, Apple
***************************************************/
.btn-wrap.app-down {position: relative; top: 0; left: 0; width: 48.388%; margin-top: 30px;}
.app-down .btn {display: inline-block; height: 50px; line-height: 46px; width: calc(50% - 12px); border: solid 1px #c8c8c8; font-size: 16px; text-align:center; border-radius: 4px; font-family: 'SpoqaB';}
.app-down .btn + .btn {margin-left:20px;}
.app-down .btn span {display: inline-block; height: 100%; padding: 0 0 0 25px; font-family: 'SpoqaB'; letter-spacing: 0;}
.app-down .btn-apple span {color:#222; background: url(../../public/images/common/ico_apple.png) no-repeat 0 50%; background-size: 19px;}
.app-down .btn-google span {color:#666; letter-spacing:-1px; background: url(../../public/images/common/ico_google.png) no-repeat 0 50%; background-size: 19px;}
