@charset 'UTF-8';
/*****************************************************
* Layout (Header, Footer, Nav, Container)
******************************************************/
.blind {display:none;}
.width-fix {position: relative; max-width: 1280px; margin: 0 auto; padding: 0 40px;}
@media screen and (max-width: 960px) {
  .width-fix {padding:0 20px;}
}
html.preventScroll, 
html.preventScroll body {overflow-y: hidden;}

/***************************************************
* header
****************************************************/
.header {@include position($p:fixed, $t:0, $l:0); width: 100%; height: 100px; z-index: 10;}
.header .header-logo {float: left; width: 80px; height: 24px;}
.header .header-logo a {display:inline-block; width:100%; height:100%; margin: 38px 0 0 0; background: url(/images/common/finnq_logo_white.png) no-repeat 0 0; background-size: 100% auto; text-indent: -999em;}
.header .nav {float: right; margin: 38px 0 0 0; font-size: 16px;}
.header .nav .new {display: inline-block; position: relative; top: 1px; width: 34px; height: 15px; margin-left: 6px; background: url(/images/common/img_new.png) no-repeat 0 0; background-size: 100% auto;}
.header .nav .nav-list li {float: left;}
.header .nav .nav-list li a {position: relative; display: block; padding: 0 20px; font-family: 'SpoqaB'; font-size: 18px; line-height: 18px; color: #fff;}
.header .nav .nav-list li a:after {display: inline-block; @include position($t: 1px, $r: 0); width: 1px; height: 15px; background: rgba(255, 255, 255,0.3); content: '';}
.header .nav .nav-list .cerfi > a {padding-right: 26px; background: url(/images/common/ico_cerfi.png) no-repeat 100% 50%; background-size: 16px auto; font-family: 'SpoqaR'; font-size: 16px; line-height: 17px;}
.m-gnb,
.m-gnb-deem,
.m-nav {display: none;}

// 해더 고정(mouseenter 효과)
.header.fixed {position:fixed;background:rgba(255, 255, 255, 0.9);box-shadow: 0 2px 5px 0 rgba(125, 125, 125, 0.3);}
.header.fixed .header-logo a {background-image:url(/images/common/finnq_logo_color.png);}
.header.fixed .nav .nav-list li a {color:#222}
.header.fixed .nav .nav-list li a:hover,
.header.fixed .nav .nav-list li a:focus {color:#5008b2;}
.header.fixed .nav .nav-list li a:after{background:rgba(0, 0, 0,0.3);}
.header.fixed .nav .nav-list .cerfi > a {color:#222; background-image: url(/images/common/ico_cerfi_fixed.png);}
.header.fixed .nav .new {display: inline-block; position: relative; top: 1px; width: 34px; height: 15px; margin-left: 6px; background-image: url(/images/common/img_new_m.png);}

@media screen and (max-width: 960px) {
  .header {position: absolute;}
  .header .header-logo {@include position($t:10px, $l:50%); width: 60px; margin-left:-30px;}
  .header .header-logo a {margin: 0; vertical-align:top;}
  .nav {display: none;}
  .m-gnb {display: none; @include position($p:fixed, $t:0, $b:0, $l:0); width: 240px; background:#fff; z-index: 500; height: auto; max-height: 100%; -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);}
  .m-gnb.is-active {display:block; animation: slideInLeft 0.8s forwards; -webkit-animation: slideInLeft 0.8s forwards;}
  .m-gnb.is-active.is-closed {animation: menuClose 0.8s forwards; -webkit-animation: menuClose 0.8s forwards;}  
  @keyframes menuClose {
    from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }  
    to {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible;      
    }
  }


  .m-nav {display: block; margin: 8px 0 0 -8px;}
  .m-nav .btn-nav {position: relative; outline: none; width: 34px; height: 34px; text-indent:-999em;}
  .m-nav .btn-nav:after {@include common__after($t:50%, $l:50%); width:20px; height:15px; margin-top:-7.5px; margin-left:-10px; background: url(/images/common/btn_m_nav.png) no-repeat 0 0; background-size:cover;}
  .m-gnb .m-gnb-logo {display: inline-block; margin: 15px 0 0 15px; padding:5px; width:60px; height:30px; background:url(/images/common/logo_finnq_gnb.png) no-repeat 50% 50%; background-size:60px auto;}
  .m-gnb .m-gnb-close {display:block; outline: none; @include position($t:12px, $r:12px); width: 30px; height: 30px; background:url(/images/common/btn_close_gnb.png) no-repeat 50% 50%; background-size:16px auto; cursor: pointer;}
  .m-gnb .m-gnb-inner {margin: 60px 20px 0;}
  .m-gnb-inner .menu-title {display: block; padding-bottom: 18px; border-bottom: 1px solid #222; font-size: 22px; line-height: 24px; font-family: 'SpoqaB'; color: #222;}
  .m-gnb .m-gnb-inner .m-sub-menu {margin-top: 4px;}
  @for $i from 1 through 5 {
    .m-gnb .m-gnb-inner .m-sub-menu li:nth-child(#{$i}) {
      opacity:0;
      animation: fadeInUp 1.5s forwards; -webkit-animation: fadeInUp 1.5s forwards;
      -webkit-animation-delay:$i * 0.3s; animation-delay: $i * 0.3s;
    }
  }
  .m-gnb .m-gnb-inner .m-sub-menu li .new {display: inline-block; position: relative; top: 2px; width: 34px; height: 15px; margin-left: 6px; background: url(/images/common/img_new_m.png) no-repeat 0 0; background-size: 100% auto;}
  .m-gnb .m-gnb-inner .m-sub-menu li a {display: block; position: relative; padding-top: 13px; padding-bottom: 13px; font-size: 16px; font-family: 'SpoqaR'; color: #666;}
  .m-gnb .m-gnb-inner .m-sub-menu li a:after {position: absolute; bottom: 0; left: 0; display: inline-block; width: 10px; height: 1px; background: #e0e0e0; content: '';}
  .m-gnb .m-gnb-inner .m-sub-menu li.is-active a {font-family: 'SpoqaB';}  
  .m-gnb .m-sns {margin: 18px 20px 20px;
    -webkit-transform: translateY(1200px) scale(0.7);
    transform: translateY(1200px) scale(0.7);
    opacity: 0;
    animation: fadeInUp 1.5s forwards; -webkit-animation: fadeInUp 1.5s forwards;
    -webkit-animation-delay:2s; animation-delay:2s;
  }
  .m-gnb .m-sns ul {overflow: hidden; position: relative; height: 50px; display: flex;
    justify-content: space-between;}
  .m-gnb .m-sns ul li {float: left;width: 50px;height: 50px;}
  .m-gnb .m-sns .btn-sns {display: inline-block; width: 50px; height: 50px; text-indent: -999em; background-repeat:no-repeat; background-position:50% 50%; background-size:cover;}
  .m-gnb .m-sns .btn-sns.facebook {background-image:url(/images/common/btn_gnb_fb.png);}
  .m-gnb .m-sns .btn-sns.Instagram {background-image:url(/images/common/btn_gnb_insta.png);}
  .m-gnb .m-sns .btn-sns.blog {background-image:url(/images/common/btn_gnb_blog.png);}
  .m-gnb-deem {display: none; top: 0; bottom: 0; left: 0; right: 0; position: fixed; background: rgba(0, 0, 0, 0.3); z-index: 99;}
  .m-gnb-deem.is-active {display:block;}
  
}

/***************************************************
* footer
****************************************************/
.footer {padding: 43px 0 46px; background-color: #222;}
.footer .footer-menu {display: inline-block;overflow: hidden;margin: 4px 0 24px 0;}

.footer .footer-menu li {position: relative; float: left;}
.footer .footer-menu li:before {content: ''; @include position($t:7px, $l:-1px); width: 1px; height: 10px; background-color: #fff;}
.footer .footer-menu li a {display: block; padding: 0 12px; font-family: 'SpoqaR'; font-size: 16px; color: #e0e0e0;}
.footer .footer-menu li:first-child a {padding-left: 0;}

.footer .company-title {margin-bottom:10px; font-family:'SpoqaR'; font-size:14px; color:#c8c8c8;}
.footer .company-list {width: calc(100% - 300px); overflow: hidden;}
.footer .company-list li {position: relative; float: left; padding-left:10px; margin-right:10px; font-family: 'SpoqaR'; font-size: 14px; line-height: 1.5; color: #666;}
.footer .company-list li:before {@include common__after($t:9px, $l:0); width:4px; height:4px; background-color:#666; border-radius:50%;}
// .footer .company-list li:before {@include common__after; @include position($t:6px, $l:0); height: 8px; border-left:1px solid #666;}
/*
.footer .company-list li:first-of-type {padding-left:0;}
.footer .company-list li:first-of-type:before {display:none;}
*/
.footer .company-list li a {vertical-align: top; color: inherit; text-decoration: underline;}
.footer .copyright {font-family: 'SpoqaR'; font-size: 14px; line-height: 1.5; color: #666;}

.footer .family {@include position($t:0, $r:40px); z-index: 1; width: 210px;}
.footer .family .btn-family {display: block; position: relative; padding: 0 0 0 9px; font-family: 'SpoqaR'; font-size: 14px; color: #666; z-index: 1; border: 1px solid rgba(102, 102, 102, 0.5); line-height: 30px; background-color: rgba(255, 255, 255, 0.1); box-sizing: border-box; width: 100%; text-align: left;}
.footer .family .btn-family:before {@include common__after($t:-1px, $r:-1px); width: 32px; height: 32px; background: #666 url(/images/common/ico_family_arrow.png) no-repeat 50% 50%}
.footer .family .family-list {display:none; opacity:0; position: absolute; bottom: 100%; left: 0; width: 100%; z-index:-1;}
.footer .family .family-list.is-active.is-closed {animation: fadeOut 1s forwards; -webkit-animation: fadeOut 1s forwards;}
.footer .family .family-list.is-active {display:block; animation: fadeIn 1s forwards; -webkit-animation: fadeIn 1s forwards;}
.footer .family .family-list li {margin: 0 0 -1px 0;}
.footer .family .family-list li > * {display: block; position: relative; padding: 0 0 0 9px; font-family: 'SpoqaR'; font-size: 14px; color: #666; border: 1px solid #3d3d3d; line-height: 30px; background-color: #222;}
.footer .sns-wrap {@include position($r:70px,$b:0);}
.footer .sns-list li {float: left;}
.footer .sns-list li + li {margin-left: 15px;}
.footer .sns-list .btn-sns {display: inline-block; width: 40px; height: 40px; text-indent: -999em; background-repeat:no-repeat; background-position:50% 50%; background-size:cover;}
.footer .sns-list .btn-fb {background-image: url(/images/common/btn_fb.png);}
.footer .sns-list .btn-insta {background-image: url(/images/common/btn_insta.png);}
.footer .sns-list .btn-blog {background-image: url(/images/common/btn_blog.png);}

@media screen and (max-width: 960px) {
  .footer .width-fix {padding-bottom: 160px;}
  .footer .footer-menu li:before {top: 5px; left: 1px;}
  .footer .footer-menu li a {padding: 0 10px; font-size:14px;}
  .footer .company-list li {font-size: 12px;}
  .footer .family {@include position($t:initial, $r:20px, $b:0);}
  .footer .company-list {width:100%;}
  .footer .sns-wrap {@include position($r:initial,$b:70px,$l:20px);}
  .footer .copyright {font-size:12px;}
}

/***************************************************
* container(key-visual, contents)
****************************************************/
/**************************************************
* Key visual(default)
***************************************************/
.key-visual .inner {height: 400px; padding: 170px 0; background: url(/images/common/sub_visual_common.jpg) no-repeat 50% 50%; background-size: cover; text-align: center;}
// 상품 key visual
.key-visual.product .inner {background-image:url(/images/common/sub_visual_market.jpg);}
.key-visual .title {opacity:0; margin-bottom:10px; font-size:32px; color:#fff; letter-spacing: -2px; animation: fadeInUp 1.5s forwards; -webkit-animation: fadeInUp 1.5s forwards;}
.key-visual .desc {opacity:0; margin: 0 0 60px 0; font-size: 18px; color: rgba(255, 255, 255, 0.8); font-family:'SpoqaR';letter-spacing:0; animation: fadeInUp 1.5s forwards; -webkit-animation: fadeInUp 1.5s forwards; -webkit-animation-delay:1s; animation-delay: 1s;}

@media screen and (max-width: 960px) {
  .container .contents {padding: 55px 20px 35px;}
  .key-visual .desc {display: none;}
  .key-visual .title {font-size:36px;}
  .key-visual .inner {height: 250px; padding:80px 0 50px; background-position:70% 50%;background-size: cover;}
}

/**************************************************
* contents
***************************************************/
.container .contents {margin: 0 auto; padding:90px 0px 15px;}
.container .contents.pages {padding:90px 0px 95px;}

.contents-head {max-width:1280px; margin:0 auto; padding:0 40px;}
.contents-head .title {opacity:0; display:inline-block; font-family: 'SpoqaR'; font-size: 36px; color: #222; letter-spacing: -2px; animation: fadeIn 1.5s forwards; -webkit-animation: fadeIn 1.5s forwards; -webkit-animation-delay:0.5s; animation-delay: 0.5s;}
.contents-head .title:after {display: block; content: ''; margin: 33px 0 0 2px; width: 30px; height: 2px; background-color: #222; animation: fadeIn 1.5s forwards; -webkit-animation: fadeIn 1.5s forwards; -webkit-animation-delay:0.5s; animation-delay:0.5s;}
.contents-head .desc {opacity:0; display:inline-block; margin: 0 0 0 16px; font-size: 19px; color: #999; animation: fadeInLeft 1.5s forwards; -webkit-animation: fadeInLeft 1.5s forwards; -webkit-animation-delay:2s; animation-delay: 2s;}
.contents-details mark {letter-spacing: 0; color: inherit; background: transparent;}
.contents-details .contents-visual {position: relative; max-width: 1280px; margin: 0 auto; padding: 80px 40px; -webkit-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; transition: all 0.3s ease-in; height:auto;}
.contents-details .visual-title {font-size: 36px; line-height: 46px; letter-spacing: -1px; color: #222; font-family: 'SpoqaR';}
.contents-details .desc-wrap {padding:80px 0; overflow: hidden;}
.contents-details .desc-wrap .sub-title {font-size: 36px; line-height: 46px; letter-spacing: -1px; color: #222; font-family: 'SpoqaR';}
.contents-details .desc-wrap .sub-desc {margin-top:30px; font-size: 20px; line-height: 30px; letter-spacing: -1px; color: #666; font-family: 'SpoqaR';}
.contents-details .desc-wrap .sub-desc + .img-wrap {margin-top:35px;}
.contents-details .desc-wrap .sub-desc + .sub-desc {margin-top:15px;}
.contents-details .desc-wrap .item-desc {display:flex; align-items:center; justify-content: space-between; position:relative; overflow: hidden; max-width: 1280px; margin: 0 auto; padding:0 40px;}
.contents-details .desc-wrap .item-desc.top {align-items: flex-start;}

.contents-details .desc-wrap .img-wrap {width: 400px;}
.contents-details .desc-wrap .img-wrap img {width:100%; height:auto;}
.contents-details .desc-wrap:nth-of-type(odd) {background: #f8f8f8;}

@media screen and (max-width: 960px) {
  .contents-head {padding:0 20px;}
  .container .contents {padding: 60px 0px 15px;}
  .contents-head .title {font-size: 20px;}
  .contents-head .title:after {margin-top:15px;}  
  .btn-wrap.app-down,
  .contents-head .desc {display:none;}
  .contents-details .contents-visual {padding: 40px 20px 160px;}
  .contents-details .desc-wrap {padding: 40px 0;}
  .contents-details .visual-title {font-size:34px; line-height:40px;}
  .contents-details .desc-wrap .item-desc {display:block; text-align:center; padding:0px;}
  .contents-details .desc-wrap .sub-title {font-size: 26px; line-height: 30px; text-align: center;}
  .contents-details .desc-wrap .sub-desc {margin-top:15px; text-align: center;
    font-size: 16px; line-height:20px;}
  .contents-details .desc-wrap .img-wrap {margin:40px auto 0; width: 308px;}
  .contents-details .desc-wrap .sub-desc + .img-wrap {margin-top:15px;}
  .contents-details .desc-wrap .desc-info + .desc-info.img-content {margin-top:30px}
}