.sub-title {
  font-family: 'SpoqaB';
  font-size: 20px;
  color: #222;
  margin: 40px 0 54px 0; 
}
.step-list > li { position: relative; margin: 0 0 45px; }
.step-list > li:first-child { margin-bottom:65px; }
.step-list > li:last-child { margin-bottom: 0; }
.step-list > li .nums { position: absolute; top: 1px; left: 0; width: 24px; height: 24px; border-radius: 50%; font-size: 16px; color: #fff; text-align: center; vertical-align: text-bottom; background-color: #222; }
.step-list > li .means { display: inline-block; margin: 1px 0 0 5px; padding: 0 0 0 30px; font-family: 'SpoqaR'; vertical-align: text-bottom; }
.step-list > li .g-btn {height: 40px; padding: 0 21px; background: #222; font-family: 'SpoqaB'; font-size: 14px; line-height: 40px; color: #fff; border-radius: 4px; cursor: pointer; margin: -14px 0 0 15px; vertical-align: middle; }
.step-list > li .cert-images { margin: 25px 0 0; text-align: center; }
.step-list > li .cert-images ul { overflow: hidden;  height:504px;}
.step-list > li .cert-images li { /* position: relative; float: left; */ width: 272px; position: absolute;}
.step-list > li .cert-images li:nth-of-type(2) {left:308px;}
.step-list > li .cert-images li:nth-of-type(3) {left:614px;}
.step-list > li .cert-images li:nth-of-type(4) {left:921px;}
.step-list > li .cert-images li:before {content: ''; position: absolute; top: 50%; left: -25px; width: 15px; height:30px; margin-top: -15px; background: url(/images/cert/ico_step_arrow.png) no-repeat 50% 50%; background-size:100%;}
.step-list > li .cert-images li:first-of-type:before {display:none;}
.step-list > li .cert-images li img { width:100%; }
.step-list > li .cert-images li .s-txt { display: block; margin: 4px 0 0; font-family: "SpoqaR"; font-size: 18px; color: #999; }
@media screen and (max-width: 960px) {
  .step-list > li .cert-images ul {height:auto;}
	.step-list > li .cert-images li {position:relative; left:initial !important; margin-left:0;}
	.step-list > li .cert-images li img {max-width: 310px;}	
	.step-list > li .nums { top: 0; width: 20px; height: 20px; font-size: 14px; }
	.step-list > li .means { padding-left: 25px; }
	.step-list > li .g-btn { position: relative; top: 5px; margin: -12px 0 0 15px; }
	.step-list > li .cert-images li { width: 100%; }
	.step-list > li .cert-images li + li { margin-top: 30px; }
	.step-list > li .cert-images li + li:before { display: none; }
	.step-list > li .cert-images li .s-txt { font-size: 16px; }
}
